
.map-container {
  align-content: center;
  width: 450px; /* Set the desired width */
  height: 450px; /* Set the desired height */
  padding: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 1px solid black;
  border-radius: 40px;
  display: flex;
}

